---
import "../styles/global.css";
import { getCollection, render } from "astro:content";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
    const details = await getCollection("details");
    return details.map((detail: object) => ({
        params: { id: detail.slug },
        props: { detail }
    }));
}

const { detail } = Astro.props;
const { data } = detail;
const { title, img, description } = data;
const {Content} = await render(detail);
---

<Layout>
    <div class="text-left w-full">
        <a href="/" class="inline-flex items-center space-x-2 text-Spicy-Mix-600 text-base font-normal font-Raleway hover:underline">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg> 
            <span>Atrás</span>
        </a>
    </div>
    </div>
    <div transition:name={`frame-${detail.slug}`} class="w-auto p-5 bg-Indian-Khaki-50 rounded-xl shadow-2xl inline-flex flex-col justify-start gap-5 self-stretch">
        <div class="flex flex-col items-center gap-3">
        <h1 transition:name={`title-${detail.slug}`}>{title}</h1>
            
            <!-- <img 
            src={`/public/${img}`} 
            alt={title} 
            class="w-full rounded-4xl shadow-lg aspect-[3/1] object-cover" />-->
        </div>
        
        <Content/>
    </div>
</Layout>