---
import { getCollection, getEntryBySlug } from "astro:content";

const details = await getCollection("details");

---


{
  details.map((detail: object) => (
    <a href={`/${detail.slug}`} class="w-auto p-5 bg-Indian-Khaki-50 rounded-xl shadow-lg inline-flex flex-col sm:flex-row justify-start items-center gap-5 self-stretch hover:scale-102 cursor-pointer transition-all">
      <img 
        alt={detail.data.title}
        class="sm:max-w-56 self-stretch aspect-square rounded-xl" 
        src={`/public/${detail.data.img}`} />
      <div transition:name={`frame-${detail.slug}`}
      class="w-full self-stretch flex flex-col justify-start items-start gap-5">
        <div transition:name={`title-${detail.slug}`} class="justify-start text-Spicy-Mix-600 text-4xl font-semibold font-cormorant">
          {detail.data.title}
        </div>

        <div class="self-stretch flex flex-col justify-start items-start gap-3">
          {detail.data.options.map(
            (option: { name: string; price: string }) => (
              <div class="self-stretch inline-flex justify-between items-center">
                <div class="justify-start text-Spicy-Mix-600 text-base font-normal font-Raleway">
                  {option.name}
                </div>
                <div class="justify-start text-Spicy-Mix-600 text-base font-bold font-Raleway">
                  {option.price}
                </div>
              </div>
            )
          )}
        </div>
      </div>
    </a>
  ))
}

<style></style>
